@charset "UTF-8";
body{
	
	background-color: #d2d2d2;
}
 .box {
 border: 1px solid #56433D;
 width: 500px;
 margin:15px;
 }
 .box>h4,
 .box>p,
 .box>input,
 .box>select,
 .box>textarea,
  .box>a
 
  {

 margin:15px;
 }
 a{
 display: inline-block;
 }